<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <h2>Afroz</h2>
    <h1>Join Medium</h1>
    <h1>LoginIn</h1>
    <div class="medi">
<div id="mega">

 <form action="/signIn" method="post">
    <section class="mag">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus>
    </section>
    <section class="mag">
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit" id="btns">Sign in</button>
</form> 
</div>
    </div>
</body>
</html>