<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- START//////////////////////////////// -->
    <!-- START//////////////////////////////// -->
    
    <div class="contain">
<nav>
    <br><br>
 <h2>Medium</h2>
         <div class="nav_links">
            <a href="#">Our Story</a>
            <a href="#">Membership</a>
            <a href="#">Writes</a>
            <span class="line"></span>
            <a href="#">Sign up</a>
            <a href="/getstart" class="btn1">Get Started</a>
        </div>
    </nav>
    <hr color="white" style="font-weight: 100;">

    <div class="som">
        <div><h3>Stay curious.</h3></div>
        <p>Discover stories, thinking, and expertise from writers on any topic.</p>
        <button id="btn">Get Reading</button>
    </div>
</div>  
<!-- treandin on medium -->
<p id="trending">TRENDING ON MEDIUM</p>
<div class="firstcontain">
    <div class="box">
        <p class="zoo">Tom cooper</p>
        <h3>Ukraine War, 27 September 2022</h3>
        <p class="zoo">27Sep .5min read</p>
    </div>
    <div class="box">
        <p class="zoo">Clive Thompson</p>
        <h3 > Clive Thompson  Clive Thompson  Linux On The Laptop Works So Damn Well That Its Boring</h3>
        <p class="zoo">Sep 23. 6 min read </p>
    </div>
    <div class="box">
        <p class="zoo">Jean-Louis Gass茅e  in  Monday Note</p>
        <h3 >Apple Car: Bad Idea After All</h3>
        <p class="zoo">27Sep .6min read</p>
    </div>

    <div class="box">
        <p class="zoo">Jared A. Brock in  Surviving Tomorrow</p>
        <h3 >Billionaire Monopolist Jeff Bezos Is Buying Up Single-Family Homes to Rent-....</h3>
        <p class="zoo">27Sep .7min read</p>
    </div>

    <div class="box">
        <p class="zoo">Arthur Hayes in Entrepreneur's Handbook</p>
        <h3> snippets</h3>
        <p class="zoo">27Sep .15min read</p>
    </div>

    <div class="box">
        <p class="zoo">The woman in  Level Up Coding</p>
        <h3 style="color: black;">My Junior Got Fired and Sued for Working on His Side Projects During Office hours</h3>
        <p class="zoo">27Sep .4min read</p>
    </div>
</div>
    <!-- END....////////////////////////// -->
    <div class="anchor  sticke" >
        <a href="#">Help</a>
        <a href="#">Status</a>
        <a href="#">Writes</a>
        <a href="#">Block</a>
        <a href="#">Carres</a>
        <a href="#">Privacy</a>
        <a href="#">Term</a>
        <a href="#">Abouts</a>
        <a href="#">Knowable</a>
          </div> 

<!-- 2nd line -->
<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> SportsRaid   Javad Luckey  in SportsRaid </h5>
    <strong class="strong">
    The Origin Story of Baseball & Baseball Cards </strong>
    <p class="para"> Baseball history is as old as America itself. And baseball cards are 175+ years old.</p>
    <p>Oct 4 路7 min read路 <em> Sports </em>  </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/a.jpg" alt="alert message" >
</div>
</section>  

<!-- 2nd line -->

<!-- 3rd line -->
<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> SportsRaid   Javad Luckey  in SportsRaid </h5>
    <strong class="strong">
    The Origin Story of Baseball & Baseball Cards </strong>
    <p class="para"> Baseball history is as old as America itself. And baseball cards are 175+ years old.</p>
    <p>Oct 4 路7 min read路 <em> Sports</em>
     </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/b.jpg" alt="alert message" >
</div>
</section>  

 
<!-- 3rd line -->

<!-- 4th line -->

         <section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Spiritual Eugenics
        Jules Evans
        in
        Spiritual Eugenics </h5>
    <strong class="strong">
        Timothy Learys psychedelic eugenics
How the high priest of LSD turned to the gospel of eugenics and the idea of a genetic hierarchy of intelligence culminating in California.
 </strong>
    <p class="para">Oct 6
        路
        15 min read
        路</p>
    <p>History<em>Sports</em>  </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/c.jpg" alt="alert message" >
</div>
</section>  
<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Julio Vincent Gambuto </h5>
    <strong class="strong">
        Why do we only formally debate during elections?
    </strong>
    <p class="para">
        It would serve us well to do it way more often
    </p>
    <p>Oct 4 路7 min read路 <em> 
        Politics</em>
     </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/d.jpg" alt="alert message" >
</div>
</section>  
<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Reza Aslan </h5>
    <strong class="strong">
        The American Christian Missionary Who Died Fighting.....
    </strong>
    <p class="para">I HAVE ALWAYS known the name Howard Baskerville. For as long as I can remember, his .</p>
    <p>Oct 7 路7 min read路 <em>Books </em>
     </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/e.jpg" alt="alert message" >
</div>
</section>  
<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> 拆 </h5>
    <strong class="strong">
        When Respectability Kills
     </strong>
    <p class="para">
        A Deadly Consequence of White Societal Discards Living Among Marginalized
        </p>
    <p>Oct 12 路7 min read路 <em>Race</em>
     </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/f.jpg" alt="alert message" >
</div>
</section>
<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5">Kerela Tylor </h5>
    <strong class="strong">
        Please Dont Tell My Daughter Shes Beautiful

    </strong>
    <p class="para"> There is so much else to praise</p>
    <p>Oct 4 路7 min read路 <em>Parenting </em>
     </p>
</div>

 <div class="iaf">
 <img   class="bigimg" src="./img/k.jpg" alt="alert message" >
</div>
</section> 

<section id="grid-contain">
    <div class="bbb"> 
        Roger Martin
Roger Martin 
    <h5 class="heading5"> 
        Strategy & Sunshine
    </h5>
    <strong class="strong">
        Beware of the Shadow
     </strong>
    <p class="para"> 
        Oct 10
路
8 min read
路
Playing To Win

    </p>
    <p> <em></em>
     </p>
</div>

 <div class="iaf">
 <img   class="bigimg" src="./img/h.jpg" alt="alert message" >
</div>
</section> 

<!-- start -->


<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Aubrie Johnson </h5>
    <strong class="strong">
        Autistic women and the scourge of the manic pixie dream girl
Say it with me, guys: manic pixie dream girls arent real.
     </strong>
    <p class="para">Oct 13
        路
        6 min read
        路
         </p>

<p>
    Autism <em></em>
     </p>
</div>

 <div class="iaf">
 <img   class="bigimg" src="./img/i.jpg" alt="alert message" >
</div>
</section> 

<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Thomas Smith </h5>
    <strong class="strong">
   ChatGPT Is Having a Thomas Edison Moment


  </strong>
    <p class="para"> </p>
    <p>Dec 9
路
4 min read
路
Gpt 3<em> </em>
     </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/1.jpg" alt="alert message" >
</div>
</section>  

<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Allegra Hobbs</h5>
    <strong class="strong">
   Spotifys Year-End Lists Are the Ultimate Personality Test


  </strong>
    <p class="para">Why the mass sharing of the music streaming services year-end lists is uniquely telling </p>
    <p><em> </em>
  Dec 6, 2019

路
3 min read
路

Member-only

   </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/2.png" alt="alert message" >
</div>
</section>  

<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5">Julie Zhuo </h5>
    <strong class="strong">
   Why Your Team Needs a Weekly Metrics Review


  </strong>
    <p class="para">Why the mass sharing of the music streaming services year-end lists is uniquely telling </p>
    <p><em> </em>
  Nov 30
路
7 min read
路
Data

   </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/3.jpg" alt="alert message" >
</div>
</section>  

<section id="grid-contain">
    <div class="bbb">  
    <h5 class="heading5"> Nicole Janz, Writers' Coach
in
Better Humans</h5>
    <strong class="strong">
   
How to Avoid December Burnout

  </strong>
    <p class="para">I help creative entrepreneurs & academics write books & articles. Free consult at </p>
    <p><em> </em>
  Nov 28
路
4 min read

   </p>
</div>
 <div class="iaf">
 <img   class="bigimg" src="./img/4.jpg" alt="alert message" >
</div>
</section>  

 {{!-- <aside id="position" class="sticke" >
    <li>Self</li>
    <li>RelationShip</li>
    <li>Data Science</li>
    <li>Programming</li>
    <li>Productivity</li>
    <li>Javascript</li>
    <li>Machin Learning</li>
    <li>Politics</li>
    <li>Health</li>
 </aside> --}}
 
 <Footer class="footerpart">
    <h5>Medium</h5>
    <div class="border">
  
    <ul class="ulist">
        <li>About</li>
        <li>Provacy</li>
        <li>Help</li>
        <li>Terms</li>
        </ul>
    </div>
    <div id="para">
        <p>Get the Medium app</p>
    </div>
    <div>
  <img class="tag"src="./img/5.png"alt="loogo">
        <img class="tag" src="./img/7.png" alt="loogo">

</div>

 </Footer>
</body>
</html>